#page-header{
    min-height:50px;
    height:50px;
}

#formula-canvas{
    min-height:500px;
    height:500px;
}
#formula-canvas div{
    height:100%;
    padding:2px;
    margin:2px;
    border: 1px solid #dca7a7;
    border-radius: 5px;
}

#formula-buttons {
    display: none;
}

#formula-viewer {
    height:35px;
    font-size:1.5em;
    line-height:35px;
    text-align: center;
    font-family: 'Lora', serif;
}

#inputFormula{
    display:none;
}